@use './globals.scss' as *;

.card-container {
    width: 750px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 0 auto;
    font-family: $main-font;
    justify-content: center;
    align-items: center;
    .start-end-card {
        border: 1px solid $text;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: 450px;
            width: 100%;
            object-fit: cover;
        }
    
        h2 {
            text-align: center;
            font-weight: 400;
            font-size: 2rem;
            padding-top: 50px;
        }

        .card-info {
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            padding-bottom: 20px;

            div p:last-child {
                font-size: 1.5rem;
                font-weight: 580;
            }
            
            p:nth-child(2) {
                text-align: center;
            }

            p:nth-child(1),
            p:nth-child(3) {
                text-align: center;
                padding: 3px 10px;
                margin: 0 10px;
            }

            hr {
                border: none;
                height: 1px;
                background-color: $text;
                margin: 0 10px;
            }
        }
    }
    .start-button-box {
        margin-top: 40px;
        .start-button {
            background-color: $text;
            border: 1px solid $text;
            border-radius: 10px;
            cursor: pointer;
            color: $background;
            width: 380px;
            height: 55px;
            font-size: 1.9rem;
            font-weight:bolder;
            font-family: $main-font;
            &:hover {
                background-color: darken($background, 10%);
                color: $text;
            }
        }
    }
    .end-button-box {
        margin-top: 40px;
        .restart-btn {
            background-color: $text;
            border: 1px solid $text;
            border-radius: 10px;
            cursor: pointer;
            color: $background;
            width: 380px;
            height: 55px;
            font-size: 1.9rem;
            font-weight:bolder;
            font-family: $main-font;
            &:hover{
                background-color:darken($background, 10%);
                color: $text;
            }
        }
    }
}

.question-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .question-image-container {
        background-color: darken($background,5%);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid $text;
        border-radius: 10px;
        img {
            height: 450px;
            border-radius: 10px;
            width: 100%;
            object-fit: scale-down;
        }
        .question-text {
            width: 100%;
            height: 100px;
            display: grid;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
                font-family: $main-font;
                font-size: 2rem;
                text-shadow: 1px 1px 10px rgb(33, 1, 1);
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style-type: none;
        width: 100%;
        height: 300px;
        margin-top: 10px;
        li {
            width: 100%;
            display: flex;
            justify-content: center;
            .option-btn{
                height: 45px;
                width: 80%;
                font-size: 1.4rem;
                background-color: $text;
                border: 1px solid black;
                border-radius: 10px;
                cursor: pointer;
                color: $background;
                font-weight:bolder;
                font-family: $main-font;
                &.active{
                    background-color: darken($background, 5%);
                    color: $text;
                } 

                &.correct {
                    background-color: #166303;
                    color: #fff;
                }
            }
        }

    }

    .navigation-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        #nextButton{
            margin-top: 10px;
            background: $text;
            box-shadow: 1px 1px 10px rgb(104, 101, 101);
            width: 30%;
            height: 60px;
            color: $background;
            font-size: 2.5rem; 
            font-family:$header-font;
            border: 1px solid $text;
            border-radius: 10px;
            &:hover {
                background-color: darken($background, 10%);
                color: $text;
            }
            &:disabled {
                background-color: #d3af8f; 
                color: #6f5e5e;
                opacity: 0.6;
                cursor: not-allowed; 
            }
        }
    }
}