// Fonts
$header-font: 'Mouse Memoirs';
$main-font: 'Dekko';

// Colors
$background: #73020C;
$text: #F5DEB3;


// Button styles
@mixin basic {
    border: 1px solid $text;
    border-radius: 0.5rem;
}