body{
    main{
        height: 100vh;
        .timer-pts{
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            gap: 0;
            padding-right: 5px;
            padding-left: 5px;
            .points-btn,
            .count-up-timer{
                font-size: 1.4rem;
                min-width: 90px;
            }
           
        }
       
        
        .card-container {
            width: 100%;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;

            .start-end-card {
                width: 100%;
                h2{
                    padding-top: 30px;
                }
            }
            .start-button-box {
                margin-top: 30px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
           
        }
        .question-container {
            height: 720px;
            .question-image-container {
                height: 100%;
                img {
                    height: 300px;
                }
                .question-text {
                    height: 150px;
                    h2{
                        font-size: 1.8rem;
                    }
                }
            }
            .options {
                margin-top: 20px;
                height: 400px;
                li{
                    width: 100%;
                    .option-btn{
                        height: 60px;
                        font-size: 1.2rem;
                    }
                }
            }
         
            .navigation-buttons {
                width: 100%;
                #nextButton {
                    width: 55%;
                }
            }
            
        }
    }
    
}
