@import 'globals.scss';

.timer-pts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 490px;
    margin-top: 10px;
    .points-counter,
    .count-up-timer {
        @include basic;
        background-color: $text;
        color: $background;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        min-width: 120px;
    }
    .count-up-timer {
        font-family: $header-font;
    }
}