@use './globals.scss' as *;
@import 'card';
@import 'reset';
@import 'timer-pts.scss';

@media only screen and (min-width:260px) and (max-width: 760px) {
    @import 'mobile';

}
body {
    background-color: $background;
    color: $text;
    
}

button:focus {
    outline: 3px solid #0a80f6; 
    outline-offset: 2px;
}


header {
    border-bottom: 1px solid $text;
    h1 {
        display: flex;
        justify-content: center;
        font-family: $header-font;
        font-size: 2.8rem;
        font-weight: 400;
    }
}

.sr-only {
    @include sr-only;
}
